.env
.idea
.vscode
__pycache__
debug_entry.py
frontend/dist
frontend/node_modules
.chainlit
config/rag.conf
config/config.yaml
.env

*.log
*.swp
*.swo
*.tar.gz
*.db
*.wal
nohup.out
*bak
cache

dist
src/example_package_deep.egg-info
